.navbar-container {
  display: flex;
  align-items: center;
  background-color: gray;
}

.App-logo {
  height: 70px;
  width: 250px;
  padding-left: 30px;
}

.nav {
  display: flex;
  justify-content:center;
  gap: 45px;
  flex: 1;
}

.nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.nav a:hover {
  text-decoration: underline;
}
